.title {
  font-family: "Roboto";
  text-align: left;
}
.label-box {
  font-family: "Roboto";
  float: left;
  margin-left: 3px;
}
.query-box {
  font-family: "Roboto";
  float: left;
  margin-left: 5px;
  margin-bottom: -10px;
}
.ranking-box {
  font-family: "Roboto";
  float: left;
  margin-left: 15px;
}
